body {
}

@font-face {
    font-family: Montserrat;
    src: url(fonts/Montserrat-Regular.ttf);
}

.jumbotron
{
    background: rgba(35,207,193,1);
    background: -moz-linear-gradient(-45deg, rgba(35,207,193,1) 0%, rgba(30,71,235,0.65) 68%, rgba(30,71,235,0.48) 100%);
    background: -webkit-gradient(left top, right bottom, color-stop(0%, rgba(35,207,193,1)), color-stop(68%, rgba(30,71,235,0.65)), color-stop(100%, rgba(30,71,235,0.48)));
    background: -webkit-linear-gradient(-45deg, rgba(35,207,193,1) 0%, rgba(30,71,235,0.65) 68%, rgba(30,71,235,0.48) 100%);
    background: -o-linear-gradient(-45deg, rgba(35,207,193,1) 0%, rgba(30,71,235,0.65) 68%, rgba(30,71,235,0.48) 100%);
    background: -ms-linear-gradient(-45deg, rgba(35,207,193,1) 0%, rgba(30,71,235,0.65) 68%, rgba(30,71,235,0.48) 100%);
    background: linear-gradient(135deg, rgba(35,207,193,1) 0%, rgba(30,71,235,0.65) 68%, rgba(30,71,235,0.48) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#23cfc1', endColorstr='#1e47eb', GradientType=1 );
    height: 400px;
    padding-top: 75px;
    font-family: 'Montserrat', sans-serif;
    color: white;
}

.jumbotron h1 {
    font-size: 50px;
}
